{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css') }}" />
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/search.js') }}"></script>
{% endblock %}


{% block appcontent %}
	<div class="container-fluid">
		<div class="row">
            <div class="col-md-3">
                <h2>Search Tool</h2>
		        <p>This tool searches for drug name, its ingredient and side effect.</p>
                <br>
                <form action="" method="POST">
                    <h4>Drug Name</h4>
                    <input name="ndc" type="text" class="form-control" placeholder="Enter a drug name / NDC">
                    <h4>Ingredient</h4>
                    <input name="atc" type="text" class="form-control" placeholder="Enter ingredient / ATC">
                    <h4>Side effect</h4>
                    <input name="umls" type="text" class="form-control" placeholder="Enter a side effect / UMLS">
                    <br>
                    <input class="btn btn-default" type="submit" value="Search">
                </form>
            </div>


            <div class="col-md-9">
                <h3 class="text-center">Results</h3>
                <div class="col-md-4">
                    {% if ndc_in %}
                    <h5>Drug Name: {{ ndc_in }}</h5>
                    {% else %}
                    <h5>Drug Name: </h5>
                    {% endif %}
                    <div class="pre-scrollable">
                        {% if ndc_codes %}
                        {% for ndc in ndc_codes %}
                        <div class="panel panel-default panel-body">
                            <h4>{{ ndc[1] }}</h4>
                            <p>NDC: {{ ndc[0] }}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="panel panel-default panel-body">
                            <h4>No Results Found</h4>
                            <p>NDC: N/A</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    {% if atc_in %}
                    <h5>Ingredient: {{ atc_in }}</h5>
                    {% else %}
                    <h5>Ingredient: </h5>
                    {% endif %}
                    <div class="pre-scrollable">
                        {% if atc_codes %}
                        {% for atc in atc_codes %}
                        <div class="panel panel-default panel-body">
                            <h4>{{ atc[4][1] }}</h4>
                            <p>ATC: {{ atc[4][0] }}</p>
                            <p>Level 1: {{ atc[0][1] }}</p>
                            <p>Level 2: {{ atc[1][1] }}</p>
                            <p>Level 3: {{ atc[2][1] }}</p>
                            <p>Level 4: {{ atc[3][1] }}</p>
                            <p>Level 5: {{ atc[4][2] }}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="panel panel-default panel-body">
                            <h4>No Results Found</h4>
                            <p>ATC: N/A</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    {% if umls_in %}
                    <h5>Side Effect: {{ umls_in }}</h5>
                    {% else %}
                    <h5>Side Effect: </h5>
                    {% endif %}
                    <div class="pre-scrollable">
                        {% if umls_codes %}
                        {% for umls in umls_codes %}
                        <div class="panel panel-default panel-body">
                            <h4>{{ umls[1] }}</h4>
                            <p>UMLS: {{ umls[0] }}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="panel panel-default panel-body">
                            <h4>No Results Found</h4>
                            <p>UMLS: N/A</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
		<hr>
	</div>
{% endblock %}